wsdl/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns2="http://stockquote" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://stockquote">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
      targetNamespace="http://stockquote"
      elementFormDefault="qualified">
      <xs:element name="getQuote">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ticker" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getQuoteResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="getQuoteReturn" type="xs:float"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="getQuoteRequest">
    <wsdl:part name="getQuoteRequest" element="tns2:getQuote"/>
  </wsdl:message>
  <wsdl:message name="getQuoteResponse">
    <wsdl:part name="return" element="tns2:getQuoteResponse"/>
  </wsdl:message>
  <wsdl:portType name="stockquotePortType">
    <wsdl:operation name="getQuote">
      <wsdl:input message="tns2:getQuoteRequest"/>
      <wsdl:output message="tns2:getQuoteResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="stockquoteBinding" type="tns2:stockquotePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="getQuote">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="stockquoteService">
    <wsdl:port name="stockquotePort" binding="tns2:stockquoteBinding">
      <soap:address location="http://defiant/finance/wsdl/stockquote.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>

<!-- this line identifies this file as WSDL generated by SCA for PHP. Do not remove -->
